.agrupar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header a{
    color:rgb(75, 32, 218);
    text-decoration: none;
    padding-left: 20px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
}
.element1{
   
    background-color: green;
    position: relative;
    width: 100px;
    height: 100px;
    animation-name: moviment1;
    animation-duration:5s;
    animation-iteration-count: infinite;    
}
.element2{
    background-color: red;
    position: relative;
    width: 100px;
    height: 100px;
    animation-name: moviment2;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
.element3{
    background-color: blue;
    position: relative;
    width: 100px;
    height: 100px;
    animation-name: moviment3;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
}
@keyframes moviment1{
    0%{top: 0px}
    25%{top: -300px}
    50%{top: 0px}
    75%{top: 300px}
    100%{top: 0%}
}
@keyframes moviment2 {
    0%{top: 0px}
    25%{top: 0px}
    50%{top: -300px}
    75%{top: 0px}
    100%{top: 300px}
}
@keyframes moviment3 {
    0%{top: 0px}
    25%{top: -300px}
    50%{top: 0px}
    75%{top: 300px}
    100%{top: 0%}
}