.agrupar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header a{
    color:rgb(75, 32, 218);
    text-decoration: none;
    padding-left: 20px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
}
.circulo{
   
    background-color: rgb(14, 243, 36);
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-name: quick;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes quick{
    0%{bottom: 0px; left: 0px;}
    25%{bottom: -200px; left: 200px;}
    50%{bottom: 0px; left: 400px;}
    75%{bottom: -200px; left: 200px; }
    100%{bottom: 0px; left: 0px;}
}

    

    
